@import url('https://fonts.cdnfonts.com/css/samsung-sharp-sans');

                

*{
    margin: 0px; /*if we can't given 0px it will take defualt as 16px*/
    padding: 0px;
    box-sizing: border-box; /* so that extra padding and margins won't take values*/
    font-family: 'Samsung Sharp Sans', sans-serif;  
}
body{
    background-color: rgb(213, 253, 255);
                                                
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    background-color: rgb(218, 191, 196);
    padding: 15px,20px;
    position: fixed;
    width: 100%;
}
.logo img{
    width: 100px;
    height: 50px;
    margin-right: 20px;
}

.search-box{
    display: flex;
    flex: 1;
    margin: 0px,20px;
}
.search-box input{
    flex: 1;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
}
.search-box button{
    background-color: antiquewhite;
    border-radius: 0px 5px 5px 0px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
}
.search-box button:hover{
    background-color: rgb(146, 114, 68);
}
.nav-links a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-left: 10px;
    font-weight: 450;
}
.nav-links :hover{
    color: rgb(255, 255, 255);
    
    cursor: pointer;
}
.nav-icons img{
    width: 35px;
}

.hero-section img{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 1%;
    padding-top: 60px;
    cursor: pointer;
    
}
.fashion-section img{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 1%;
    padding-top: 80px;
    cursor: pointer;
    
}
.electronic-section img{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 1%;
    padding-top: 60px;
    cursor: pointer;
}
.deals-section img{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 1%;
    padding-top: 80px;
    cursor: pointer;
    
}

.footer{
    background-color: rgb(224, 200, 175);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}
.footer-links{
    margin: 20px;
}
.footer-links h4{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-links li{
    margin-bottom: 10px;
}
.footer-links a{
    text-decoration: none;
    color: #075498;
}
.copy-right{
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}
.footer-copyright{
    background-color: black;
    background-attachment: fixed;
    text-align: center;
    font-size: large;
    color: #ffffff;

}



